<div class="canvas" [class.no-animation]="noAnimation" #carousel>
  <div *ngFor="let item of items;" 
    class="item"
    [class.current]="_currentItem"
    [class.maximize]="_maximizeItem"
    [ngStyle]="_itemStyles?.get(item.data)"
    (click)="setUpMain(item.data)"
  >
    <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
  </div>

  <div class="button-bar" [ngClass]="{vertical: isVertical, grid: isGrid}">
    <button class="prev-page hand" (click)="prevPage()">
      <i class="fas fa text-white" [ngClass]="{'fa-chevron-circle-left': true}"></i>
    </button>
    <button class="next-page hand" (click)="nextPage()">
      <i class="fas fa text-white" [ngClass]="{'fa-chevron-circle-right': true}"></i>
    </button>
  </div>
</div>
